.movie_data-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  background-color: var(--color-1);
  padding-block: 2rem;
  margin-top: 4rem;
  cursor: default;
}

.movie_data-wrapper {
  display: flex;
  gap: 2rem;
  width: 80%;
}

.movie_poster {
  overflow: hidden;
}

.movie_poster img {
  width: 12rem;
  aspect-ratio: 2/3;
  border-radius: 6px;
}

.extra_info,
.imdb_quality-container,
.imdb_ratings-container {
  align-items: center;
  display: flex;
}

.extra_info {
  gap: 1rem;
}

.imdb_ratings-container .material-icons-round {
  color: gold;
}

.movie_details {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}

.movie_overview {
  font-weight: 300;
  letter-spacing: 0;
  font-size: 1rem;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.25rem;
}

.info_type {
  font-weight: bold;
  font-size: 1rem;
  color: var(--info-card-color);
}

@media only screen and (max-width: 600px) {
  .movie_data-wrapper {
    align-items: center;
    flex-direction: column;
  }

  .movie_details {
    width: 100%;
  }
}
