.search_container {
  padding: 0 1rem;
  border-radius: 5px;
  width: 60%;
  height: 4rem;
  background: var(--color-1);
  position: absolute;
  left: 50%;
  top: calc(100% - 2rem);
  transform: translateX(-50%);
}

.search_container input {
  font-size: 1.2rem;
  width: 100%;
}

.search_container input::placeholder {
  color: var(--placeholder-color);
}

.search_container button span {
  font-size: 2rem;
}

.search_container * {
  color: white;
  background-color: transparent;
}

.search_child_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#search_btn {
  display: flex;
}